PythonWorkSpace/Back/osp-revkeyrec-firebase-adminsdk-rvlp5-baafce142b.json
PythonWorkSpace/Back/osp-revkeyrec-firebase-adminsdk-rvlp5-baafce142b.json
PythonWorkSpace/Back/osp-revkeyrec-firebase-adminsdk-rvlp5-baafce142b.json
osp_venv/
/Users/minji/Desktop/Work/한밭대_학업관리/[강의]24_2학년_2학기/오픈소스/RevKeyRec/PythonWorkSpace/Back/.env