@font-face {
  font-family: 'Freesentation-9Black';
  src: url('/font/Freesentation-9Black.ttf') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Freesentation-9Black';
  src: url('/font/Freesentation-7Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Freesentation-9Black';
  src: url('/font/Freesentation-6SemiBold.ttf') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Freesentation-9Black';
  src: url('/font/Freesentation-4Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Freesentation-9Black';
  src: url('/font/Freesentation-1Thin.ttf') format('woff2');
  font-weight: 100;
  font-style: normal;
}

header{
  font-family: 'Freesentation-9Black';
  font-weight: 100;
}

body {
  background-color: #fbfbfb;
  margin: 0;
  color: #010101;

  font-family: 'Freesentation-9Black';
  font-weight: 100;
}

.App {
  text-align: center;
  background-color: #fbfbfb;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #010101;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Freesentation-9Black';
  font-size: calc(10px + 2vmin);
  color: #fbfbfb;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
